# Ignore node_modules in the backend folder
backend/node_modules/
backend/uploads/
# Ignore node_modules in the frontend folder
frontend/node_modules/

# Ignore .env files in both backend and frontend folders
backend/.env
frontend/.env
